<ion-header>
  <ion-toolbar>
    <ion-title>Calendario Semanal</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/lista-tareas">Lista de Tareas</ion-button>
      <ion-button routerLink="/add-tareas">Agregar Tarea</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="calendar-container">
    <mwl-calendar-week-view [viewDate]="viewDate" [events]="tareasCalendario" [locale]="'es'"
      (eventClicked)="onEventClicked($event)">
    </mwl-calendar-week-view>
  </div>
</ion-content>